<% include top %>
	<div class="jumbotron">
		<div class="container" style="text-align:center">
			<h1> Welcome to my Chat </h1>
			<p class="lead"> In this chat plataform you can comunicate with a server! </p>
			<p>
				<a class="btn btn-lg btn-info" href="/chat" role="button" > Get started now </a>
			</p>
		</div>
	</body>
</html>